html, body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

body {
  font-family: 'Sintony', sans-serif !important;
}

.App {
  position: relative;
  min-height: 100vh;
  margin: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input{
  border-radius: 10px;
  margin: .5rem .2rem;
  height: 1.2rem;
}
