html, body {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Sintony', sans-serif !important;
}

.App {
  position: relative;
  min-height: 100vh;
  margin: 1rem;
}

.search-form input{
  border-radius: 5px;
  margin: .5rem 0;
  height: 1.2rem;
}
