html, body {
  margin: 0;
  padding: 0;
  background: #00b4ff;
}

body {
  font-family: 'Sintony', sans-serif !important;
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  position: relative;
  /* min-height: 100vh;
  min-width: 100vw; */
  margin: 1rem;
}

/* .App h1{
  width: 15rem;
} */

/* .display-container {
  display: inline-flex;
} */

/* **********Search From**************** */

.search-form {
  display: flex;
  justify-content: left;
  width: 50%;
}

.search-form form {
  padding: .7rem;
  border: white solid;
  box-shadow: 5px 10px 18px whitesmoke;
}

.search-form input{
  border-radius: 10px;
  margin: .5rem .2rem;
  height: 1.2rem;
}

.search-form button {
  border-radius: 10px;
  margin: .5rem .2rem;
  /* height: 1.2rem; */
  padding: 3px 10px;
  color: whitesmoke;
  background-color: lightsalmon;
}

.city {
  width: 9rem;
}

.country {
  width: 7rem;
}

/* ************Weather Display****************** */

.weather-display-container{
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "temp desc" "temp wind";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

/* **************Temp Container***************** */

/* .fahrenheit-celsius-container, .description-container, .wind-container{
  display: grid;
} */

.fahrenheit-celsius-container{
  /* grid-area: 1 / 1 / 3 / 2; */
  grid-area: temp;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid transparent;
  background: 
      linear-gradient(to right, #00b4ff, #00b4ff), 
      linear-gradient(45deg, red ,yellow); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box; 
  justify-content: center;
  border-radius: 100%;
}

.fahrenheit-celsius-container > p {
  /* width: 50%; */
}

.fahrenheit-celsius-container > img {
  width: 10rem;
  height: 10rem;
}

.max-min-main {
  font-size: 1.2rem;
}

.temp-main{
  font-size: 6rem;
  /* margin-top: .7rem; */
}

.temp-main-symbol{
  font-size: 3rem;
  vertical-align: super;
  position: relative;
}

.temp-button-container {
  display: flex;
  justify-content: flex-end;
  width: 10rem;
  margin: .5rem;
}

.temp-button {
  border: none;
  background: none;
}

.description-container{
  /* grid-area: 1 / 2 / 2 / 3; */
  grid-area: desc;
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wind-container{
  /* grid-area: 2 / 2 / 3 / 3; */
  grid-area: wind;
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wind-speed-direction-container{

}


/* ***********Sun********************* */

.sun-container {
  background-color: yellow;
/*   border: 5px solid; */
  width: 12rem;
  height: 12rem;
  border-radius: 0 0 0 100%;
/*   bottom: 0;
	left: 0;  */
/* 	padding-top: 50px; */
	position: fixed; 
  top: 0;
  right: 0;
  /* z-index: -2; */
}

.line-1 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 200px;
  top: 15px;
  transform: rotate(-5deg);
  /* z-index: -2; */
}

.line-2 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 190px;
  top: 75px;
  transform: rotate(-15deg);
  /* z-index: -2; */
}

.line-3 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 160px;
  top: 135px;
  transform: rotate(-30deg);
  /* z-index: -2; */
}

.line-4 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 115px;
  top: 180px;
  transform: rotate(-45deg);
  /* z-index: -2; */
}

.line-5 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 60px;
  top: 215px;
  transform: rotate(-70deg);
  /* z-index: -2; */
}

.line-6 {
  background: yellow;
  width: 4rem;
  height: .5rem;
  position: fixed;
  right: 0px;
  top: 230px;
  transform: rotate(-85deg);
  /* z-index: -2; */
}